input, label, #console {
    position: fixed;
}
label {
    color:white;
}
input {
    width: 50px;
}
.from {
    left: 90px;
}
.labelFrom {
    left:30px;
}
.to {
    left: 180px;
}
.labelTo {
    left: 160px;
}
.r {
  top: 10px;
}
.g {
    top: 55px;
}
.b {
    top: 100px;
}
.y {
    top: 140px;
}
input[type="submit"] {
    top: 180px;
    left: 30px;
    height: 30px;
    width: 203px;
    color: white;
    background-color: black;
}
body {
    margin: 0;
}
#console {
    background-color: white;
    width: 152px;
    padding: 0 10px;
    height: 21px;
    left: 276px;
    top: 10px;
}